.logo_entrada {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.entrar {
    font-size: 250%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 4%;
    width: 50%;
    margin: 0% auto 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #B3E0F2;
}


a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }



.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
.p {
    font-size: 120%;
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;

    font-size: 100%;
}



.header {
    font-size: 400%;
    border-bottom: 1px solid black;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #B3E0F2;
    color: #1C4E59;
    
}

.inicial {
    font-size: 150%;
    display: flex;
    justify-content: left;
    padding-left: 5%;
    margin-top: 5%;
    font-family: "Arvo", serif;
}

.inicial_circle{
    font-size: 150%;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    margin-top: 5%;
    font-family: "Arvo", serif;
}

.im {
    justify-content: center;
    display: flex;
    flex-direction: column;
    scale: 90%;
}

.im_circle{
    justify-content: center;
    display: flex;
    margin-top:5%;
    padding-left: 5%;
    scale: 100%
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #41bdd9;
    border-top: 1px solid black;
}

.pe {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.back {
    display: flex;
    left: 0;

}

.entrada {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1000%;
    font-family: 'Lato', sans-serif;
}

.buscar21{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
    height: 100%;

}

.text231{
    display: flex;
    justify-content: center;
    width: 80%;	
    height: 100%;
    background-color: #EDEDED;
    border-radius: 25px;
    scale: 110%;
    font-family: "Arvo", serif;
}